{% load static %}
<html>
<head>
    {% if title %}
        <title>Team Searcher - {{ title }}</title>
    {% else %}
        <title>Team Searcher</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="base__wrapper">
    <header class="base__wrapper--header">
        <a href="{% url 'post-home' %}">Home</a>
        <a href="#">Login</a>
        <a href="#">Register</a>
    </header>
    <div class="base__wrapper--advertisement"></div>
    <div class="base__wrapper--main">
        <div class="base__wrapper--posts">
            <p class="latest__posts">Latest posts</p>
            {% block content %}
            {% endblock %}
        </div>
        <div class="base__wrapper--links"></div>
    </div>

</div>
</body>
</html>