{% extends "post/base.html" %}
{% block content %}
    {% for post in posts %}
        <div class="single__post">
            <h2 class="single__post--author">{{ post.author }}</h2>
            <div class="single__post--info">
                <p>{{ post.date_posted }}</p>
                <p class="info__game">{{ post.game }}</p>
                <p>{{ post.content }}</p>
                <a href="{{ post.link }}">Profil: {{ post.link }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
