<!DOCTYPE html>
<html>
<head>
    {% if title %}
        <title>Team Searcher - {{ title }}</title>
    {% else %}
        <title>Team Searcher</title>
    {% endif %}
    <style>
        *{
            margin:0;
            padding:0;
            box-sizing: border-box;
        }
        .single-post{
            border: 2px solid black;
            margin: 8px 0 8px 0;
            width: 480px;
        }
    </style>
</head>
    {% for post in posts %}
        <div class="single-post">
            <h2>Gracz: {{ post.author }}</h2>
            <p>{{ post.date_posted }}</p>
            <p>{{ post.content }}</p>
            <a href="{{ post.link }}">Profil: {{ post.link }}</a>
            <p>Game: {{ post.game }}</p>
        </div>
    {% endfor %}
</body>
</html>